* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(163, 157, 157);
}

:root {
    --primary-color: #0d464d;
    --secondary-color: #57a54d;
    --tertiary-color: #ad1d18; 
}

body {
    color: var(--secondary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* header styling */
header, footer {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 5px solid var(--tertiary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color); 
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

h2 {
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 30px;
    margin: 0;
    border: 8px solid var(--tertiary-color);
    width: 15%;
    text-align: center;
}

header nav  {
    margin: 7px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}
/* Intro styling */

.intro, .hero {
    border: 10px solid var(--tertiary-color);
    padding: 50px;
    color: var(--primary-color);
    width: 90%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Work styling */
.placeholder .run {
  float: left;
  width: 50%;
  padding: 15px;
}

.placeholder {
    background-image: url("../images/Me\ at\ the\ zoo.JPG");
    background-size: 15%;
    background-attachment: fixed;
}

.hero::after {
    content: "";
    display: table;
    clear: both;
}