* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #0d464d;
    --secondary-color: #57a54d;
    --tertiary-color: #ad1d18; 
}

body {
    color: var(--secondary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* header styling */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: url('../images/Me-at-the-zoo.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color); 
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

h2 {
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 30px;
    margin: 0;
    width: 15%;
    text-align: center;
}

header nav  {
    margin: 7px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer{
    background: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 45px;
    margin: 0;
}

footer article {
    line-height: 2;
    text-align: center;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

section {
    padding: 60px;
}
/* Intro styling */

.hero, .work {
    background-image: url('../images/Me-at-the-zoo.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.intro-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: var(--tertiary-color);
    font-size: 40px;
    line-height: 2;
    border: 8px solid var(--tertiary-color);
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 30px;
}

/* Work styling */

