* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #64cac2;
    --secondary-color: #83cc7a;
    --tertiary-color: #bd403c; 
}

body {
    color: var(--secondary-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* header styling */
header, footer {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: url('../images/Me-at-the-zoo.JPG');
    background-size: cover;
    background-attachment: fixed;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color); 
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header a, section a {
    text-decoration: none;
    color: var(--secondary-color);
}

h2 {
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 30px;
    margin: 0;
    width: 15%;
    text-align: center;
}

header nav, footer nav  {
    margin: 7px 0;
}

header nav ul, footer nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover, footer nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 45px;
    margin: 0;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    justify-content: space-between;
    font-size: 40px;
}

section {
    padding: 60px;
}
/* Intro styling */

.hero, .work {
    background: url('../images/Me-at-the-zoo.JPG');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    font-size: 120px;
}

.intro-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: var(--tertiary-color);
    font-size: 40px;
    line-height: 2;
    border: 8px solid var(--tertiary-color);
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 30px;
}

/* Work styling */

.run {
    /* font-size: 75px; */
    height: 200px;
    width: 800px;
    background-image: url("../images/RunBuddy.png");
    background-size: cover;
    border: 3px solid var(--tertiary-color);
}

.invisible {
    opacity: 0;
}

.robot {
    /* font-size: 75px; */
    height: 200px;
    width: 800px;
    background-image: url("../images/robots.jpg");
    background-size: 800px 300px;
    border: 3px solid var(--tertiary-color);
}

.placeholder2 {
    height: 200px;
    width: 800px;
    background-image: url("../images/lake.jpg");
    background-size: 800px 300px;
    border: 3px solid var(--tertiary-color);
}

.placeholder3 {
    height: 200px;
    width: 800px;
    background-image: url("../images/sun.jpg");
    background-size: 800px 190px;
    border: 3px solid var(--tertiary-color);
}

/* Media Query */
@media screen and (max-width: 980px) {
    header, footer, .hero, .work {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 800px;
    }  
  
    header h1 {
        width: 100%;
        text-align: center;
    }
  
    header nav ul, footer nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
  
    header nav ul li a, footer nav ul li a {
        font-size: 20px;
    }
    
    h2 {
        text-align: center;
        width: 100%;
    }

    .run, .robot, .placeholder2, .placeholder3 {
       width: 700px; 
    }
  }

